<section
  class="w-full max-w-lg mx-auto p-4 min-h-[calc(100vh-4rem)] flex items-center justify-center"
>
  <div class="w-full">
    <div class="mb-6">
      <h1 class="text-2xl md:text-3xl text-gray-900 text-center font-semibold">
        @switch (currentStep$ | async) { @case (AuthStep.EMAIL) { Forgot your
        password? } @case (AuthStep.OTP) { Enter verification code } @case
        (AuthStep.RESET_PASSWORD) { Create new password } }
      </h1>
    </div>

    <div class="bg-white rounded-lg shadow-sm p-4 md:p-6 lg:p-8">
      <form
        [formGroup]="forgotPasswordForm"
        (ngSubmit)="onSubmit()"
        class="space-y-6"
      >
        @switch (currentStep$ | async) { @case (AuthStep.EMAIL) {
        <app-input-field
          type="email"
          label="Work email"
          name="email"
          formControlName="email"
          placeholder="Enter work email"
          [required]="true"
        />
        }@case (AuthStep.OTP) {
          <div class="space-y-4">
            <app-otp-input
              formControlName="otp"
              [length]="6"
              [disabled]="(isLoading$ | async) ?? false"
            />
            @if (forgotPasswordForm.get('otp')?.errors?.['pattern']) {
              <div class="text-sm text-red-600 text-center">
                Please enter a valid 6-digit code
              </div>
            }
          </div>
        } @case (AuthStep.RESET_PASSWORD) {
        <div class="space-y-4">
          <app-input-field
            type="password"
            label="New Password"
            name="newPassword"
            formControlName="newPassword"
            [required]="true"
            [showPasswordToggle]="true"
          />
          <app-input-field
            type="password"
            label="Confirm Password"
            name="confirmPassword"
            formControlName="confirmPassword"
            [required]="true"
            [showPasswordToggle]="true"
          />
        </div>
        } } @if (error$ | async) {
        <div class="text-sm text-red-600 mt-2 text-center" role="alert">
          {{ error$ | async }}
        </div>
        }

        <div class="pt-2 space-y-2">
          <div>
            <app-button
              type="submit"
              [disabled]="
                !(isStepValid$ | async) || ((isLoading$ | async) ?? false)
              "
              [loading]="(isLoading$ | async) ?? false"
              [fullWidth]="true"
            >
              @switch (currentStep$ | async) { @case (AuthStep.EMAIL) { Send
              Code } @case (AuthStep.OTP) { Verify Code } @case
              (AuthStep.RESET_PASSWORD) { Reset Password } }
            </app-button>
          </div>
          <div>
            <app-button
              type="button"
              [fullWidth]="true"
              class="text-center"
              variant="outline"
            >
              <a
                routerLink="/auth/login"
                class="text-gray-900 hover:underline font-medium"
              >
                Back to Sign In
              </a>
            </app-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
