:host {
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input {
  outline: none;
}

input:disabled {
  background-color: #f3f4f6;
  cursor: not-allowed;
}