<!-- Container for notifications -->
<div class="notification-container">
  @for (notification of (notifications$ | async) || []; track notification.id; let i = $index) {
    @if (i < maxVisibleNotifications) {
      <app-notification-item 
        [notification]="notification"
        (remove)="removeNotification(notification.id)">
      </app-notification-item>
    }
  }
  
  <!-- Show count of hidden notifications if any -->
  @if (((notifications$ | async) || []).length > maxVisibleNotifications) {
    <div class="more-notifications" (click)="showAllNotifications()" onkeypress="showAllNotifications()" tabindex="0">
      {{ ((notifications$ | async) || []).length - maxVisibleNotifications }} more notifications... (click to view all)
    </div>
  }
</div>